@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.profile
{
  height: 100%;
}

mat-toolbar img{
  width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
}

mat-toolbar{
  background-color: #181714;
  border-bottom: 1px solid black;
}

span{
  font-family: 'Dancing Script', cursive;
}
