<toz-title></toz-title>
<toz-container>
  <perfect-scrollbar class="heighMax">
    <toz-table [data]="data" [metaDataColumns]="metaDataColumns"></toz-table>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-iconbutton color="primary" (click)="openForm()" matTooltip="EDITAR">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-iconbutton color="accent" (click)="delete(row.id)" matTooltip="ELIMINAR">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
  </perfect-scrollbar>

  <toz-paginator (onChangePage)="changePage($event)" [length]="totalRecords"></toz-paginator>

</toz-container>
